$primary-color: skyblue;
$success-color: green;
$danger-color: red;
$text-color: whitesmoke;
$paragraph-size: 18px;
$dark-color: rgb(12, 12, 12);
$border: 1px solid $dark-color;
$main-font: 'Helvetica';
$secondary-font: 'Cambria';